# Cloudflare D1
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_DATABASE_ID=""
CLOUDFLARE_D1_TOKEN=""

ORIGIN=""
PUBLIC_BASE_URL=""

# Any string used for name hashing
PUBLIC_GLOBAL_SALT=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
